@import 'nav.css';
@import 'styles.css';

.top-menu {
    padding: 20px;
    margin-left: 1165px;
}

.top-links-container{
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    margin-left: 30px;
}

.top-link-item {
    text-transform: capitalize;

}

.top-link-item a {
    padding:32px;
    line-height:26px;
    text-decoration: none;
    color: white;
    transition:0.6s;
}

.top-link-item a:hover {
    background:orange;
}
