@import 'styles.css';

.top-menu {
    margin-left: 54vw;
}

.top-links-container{
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;

}

.top-link-item {
    text-transform: capitalize;

}


.top-link-item a {
    padding:31px;
    line-height:28px;
    text-decoration: none;
    color: white;
    transition:0.6s;
}

.top-link-item a:hover {
    background:orange;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .top-menu {
        width: 100vw;
        margin-left: 0px;
    }

    .top-links-container{
        width: 30vw;
    }
}