@import 'searchbar.css';

/* Nav Styles */
.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 12;
    background: white;
    height: 150px;

}

.nav-top {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    margin-left: 4.6875vw;
    margin-right: 4.6875vw;
    width: 100vw;
}



.nav-top-links  {
    list-style: none;
    display: flex;
}

.nav-top-item {
    opacity: 0.6;
}

.nav-top-item a{
    padding: 10px;
    font-size: 15px;
    text-decoration: none;
    color: #333;
    transition:0.6s;
    white-space: nowrap;
}

.nav-wrapper:before {
    content: ""; /* empty content */
    display: block; /* make it visible */
    width: 100%; /* make the line as wide as the parent element */
    height: 1px; /* make the line 1px high */
    background-color: gray; /* color the line gray */
    position: absolute; /* position the line */
    bottom: 125px;
    opacity: 0.2;
    left: 0; /* align the line to the left */
}

.nav-wrapper {
    background:white;
    width: 100%;
    display: flex;
    align-items: center;
    height: 50%;
    margin-left: 6.25vw;
    margin-right: 4.6875vw;
}


.nav-wrapper:after {
    content: ""; /* empty content */
    display: block; /* make it visible */
    width: 100%; /* make the line as wide as the parent element */
    height: 1px; /* make the line 1px high */
    background-color: gray; /* color the line gray */
    position: absolute; /* position the line */
    bottom: 55px;
    opacity: 0.2;
    left: 0; /* align the line to the left */
}


.brand-logo{
    float:left;
    display: flex;
    max-width:100%;
    max-height:100%;
    min-width: 150px;
}

.top-menu {
    width: 35vw;
    margin-right: 5vw;
}

.top-links-container{
    width: 60vw;
    display: flex;
    justify-content: center;
    list-style: none;
}

.top-link-item {
    text-transform: capitalize;
    padding: 0 10px;
    margin: 0 5px;
}

.top-link-item a {
    padding:26px;
    line-height:28px;
    text-decoration: none;
    color: #333;
    transition:0.6s;
    white-space: nowrap;
    font-weight: 500;
}

.top-link-item a:hover {
    color:orange;
}

.menu {
    justify-content: center;
    float: none;
    position: relative;
    height: 36%;
    z-index: 8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.links-container{
    position: absolute;
    margin: 0px;
    width: 100vw;
    max-width: fit-content;
    max-height: 55px;
    display: flex;
    list-style: none;
    left: 20vw;
    z-index: 10;
    padding: 0px;
}

.link-item {
    text-transform: capitalize;
    padding: 0 10px;
    margin: 0px;
    width: fit-content;
}

.link-item a {
    padding:19.5px;
    line-height:20px;
    text-decoration: none;
    color: #333;
    transition: color 0.6s;
    align-items: center;
    justify-content: center;
    display: block;
    position: relative;
    bottom: 10px;
    font-weight: bold;
    width: 100%;
}

.link-item a .first-line {
    margin-left: 3px;
}

.link-item a .first-line-2 {
    margin-left: 1px;
}

.link-item a .first-line-3 {
    margin-left: 2px;
}

.link-item a .first-line-4 {
    margin-left: 9px;
}

.link-item a .first-line-5 {
    margin-left: 11px;
}

.user-pic {
    width: 40px;
    cursor: pointer;
}

.sign-in {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    margin-right: 3vw;
    transition: 0.6s;
}

.text-below {
    display: block;
    transition: 0.5s;
    white-space: nowrap;
}

.sign-in a {
    text-decoration: none;
    color: white;

}

.text-below:hover {
    color: orange;
}

.search-box {
    float: left;
    display: flex;
    width: 500px;
}

.tbox {
    padding: 10px;
    width: 80%;
    min-width: 100px;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #d1d1d1;
    background: white;
    color: #a9a9a9;
    outline: none;
    margin-left: 40px;
}

.tbox::placeholder{
    color:#a9a9a9;
}

.btn {
    width: 20%;
    padding: 10px 20px;
    border: none;
    outline: none;
    background: orange;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.login-logout-popup{
    position: absolute;
    left: 91.55%;
    transform: translateX(-50%);
    padding: 0px;
    background: #fff;
    border-radius: 10px;
    top: 75px;
    width: 100px;
    height: 100px;
    transition: 0.5s;
    border: 2px solid #f5f5f5;
}

.login-logout-popup::after{
    content: '';
    position: absolute;
    top: -7.5px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 5px;
}

.account-info{
    font-size: 15px;
    color: #333;
    text-transform: capitalize;
}

#user-btn{
    padding: 5px;
    background: orange;
    color: #fff;
    border: none;
    outline: none;
    width: 75%;
    border-radius: 5px;
    text-transform: capitalize;
    cursor: pointer;
}

.hide{
    opacity: 0;
    pointer-events: none;
}

.dropdown-content {
    /* hide the dropdown content by default */
    display: grid;
    /* define the number of columns and the width of each column */
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
    visibility: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    max-width: 100%;
    padding-bottom: 0px;
}

/* .dropdown-header::after {
    width: 100%;
    max-width: 100%;
    content: "";
    position: absolute;
    padding-top: 5px;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    z-index: 10;
} */

.dropdown-content a{
    display: inline-block;
    padding: 5px;
    bottom: 0;
    list-style-type: none; /* remove bullet points */
}

.link-item:hover .dropdown-content{
    position: absolute; /* position the dropdown content */
    background-color: white;
    padding: 10px;
    list-style-type: none; /* remove bullet points */
    visibility: visible;
    padding-top: 40px;
    top: 55px;
    width: auto;
    min-width: 98.35%;
}

.link-item:hover a:hover {
    color: orange;
}



.fa-angle-down {
    position: relative; /* make the element relative */
    top: 2px; /* move the element down by 5px */
    left: 5px;
  }


.dropdown-content li {
    transition: color 0.2s;
}

.dropdown-content li:hover {
    color: orange;
    /* change text color to blue */
}

.dropdown-header{
    grid-column: 1 / -1; /* span the headers across both columns */
    position: absolute;
    top: 10px;
    word-wrap: break-word;
    max-width: 12vw;
}


.dropdown-header a{
    font-size: 18px;
    color: orange;
}

.content {
    padding: 10px;
    top: 130px;
    list-style-type: none; /* remove bullet points */
}

.burger {
    display: none;
    margin: auto 0;
}

.burger .bar1, .bar2, .bar3{
    position: relative;
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
    zoom: 70%;
    left: 20px;
    cursor: pointer;
}

/* .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #333;
} */

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2{
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}


.mobile-menu {
    display: none;
    overflow-y: scroll;
}

@keyframes floatUp {
from {
    transform: translateY(20px); /* move the dropdown down by 20px */
    opacity: 0; /* make the dropdown invisible */
}
to {
    transform: translateY(0); /* move the dropdown to its original position */
    opacity: 1; /* make the dropdown visible */
}
}

@keyframes floatDown {
    from {
        transform: translateY(0); /* move the dropdown down by 20px */
        opacity: 1; /* make the dropdown invisible */
    }
    to {
        transform: translateY(20px); /* move the dropdown to its original position */
        opacity: 0; /* make the dropdown visible */
    }
}
  
@media (max-width: 768px) {
    .link-item {
      text-align: center;
    }
  
    .dropdown-content {
      display: block;
    }
  
    .burger {
      display: block;
      top: 47px;
      position: fixed;
    }

    .burger.active .bar:nth-child(2){
        opacity: 0;
    }

    .burger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    
    .burger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    
    .active {
        background: transparent;
    }

    .open .mobile-menu{
        position: fixed;
        display: grid;
        align-items: center;
        background-color: white;
        margin-top: 30px;
        width: 100vw;
        height: 100vh;
        max-height: calc(100vh - 50px);
        overflow-y: scroll;

    }

    .open .mobile-menu a{
        text-decoration: none;
        color: #333;
        transition: 0.3s;
    }

    .open .mobile-menu a:hover{
        color: orange;
    }

    .links-container{
        position: fixed;
        left: -100%;
        top: 100px;
        gap: 0;
        flex-direction: column;
        background-color: white;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        margin-left: 0px;
    }

    .link-item{
        margin: 16px 0;
    }

    .link-item a{
        padding: 0px;
    }

    .links-container.active{
        left: 0;
        top: 100px;
        position: fixed;
    }


    .body, .container {
      width: 100vw;
    }

    .navbar, .nav-wrapper {
        width: 100vw;
    }

    .search-box {
        width: 60vw;
    }

    .brand-logo {
        width: 130px;
        margin-left: 30px;
    }

    .top-menu{
        width: 40vw;
    }

    .tbox {
        width: 100px;
    }
}

