.product{
    height: 110vw;
}

.product-category {
    left: 7.8vw;
    position: relative;
}

.main-content {
    left: 7.8vw;
    position: relative;
}

.product-container {
    height: 100vw;
    margin-right: 3vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.product-card {
    height: 500px;
    margin-bottom: 50px;
}