@import 'signin.css';
@import 'signup.css';
@import 'nav.css';
@import 'footer.css';

/* Master Styles */
body {
    font-family: "Roboto", sans-serif;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100vw;
    height: 120%;

}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0; 
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
}

/* Item Styles */

.items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.item-wrapper {
    position: relative;
}

.img-background {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 200px;
    padding-right: 100px;
    
}

.logo-wrapper img {
    width: 50%;
    margin-bottom: 20px;
}

.img-text-wrapper .subtitle {
    transition: 1s;
    font-weight: 600;
    color: transparent;
}

.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: orange;
    text-decoration: underline;
}

.img-darken {
    transition: 1s;
    filter: brightness(30%);
}

/* About Page Styles */
.two-column-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 50px;
    margin-bottom: 112px;
}

.profile-image-wrapper img {
    width: 300px;
    margin-right: 40px;
    margin-top: 10px;
    padding: 30px;
}

.profile-content-wrapper {
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 150px;
    margin-bottom: 132px;
}

.profile-content-wrapper h1 {
    color: #f7931e;
}

.profile-content-wrapper, .message-content-wrapper b1 {
    font-size: 20px;
}

/* Contact Page Styles */
.contact-content-wrapper {
    position: relative;
    left: 611px;
    max-width: 500px;
    justify-content: center;
    display: flex;
}

.contact-form-group button {
    width: 8vw;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #f7931e;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.3s ease-in-out;
}

.contact-form-group button:hover {
    opacity: 0.7;
}

.about-paragraph{
    width: 900px;
    display: block;
}

.faq-paragraph{
    width: 900px;
    display: block;
    font-weight: bold;
}

.tos, .privacy{
    max-width: 80vw;
    padding-bottom: 40px;
}

.account-content-wrapper {
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 150px;
    margin-bottom: 211px;
}

.text-wrapper{
    display: flex;
    top: 101px;
    position: relative;
}

.account-details{
    zoom: 140%;
    width: 5px;
    position: relative;
    display: contents;
}

.account-content-wrapper input{
    pointer-events: none;
    opacity: 0.7;
    zoom: 140%;
}

.account-content-wrapper, .message-content-wrapper h1 {
    color: #f7931e;
}

.account-content-wrapper button {
    width: fit-content;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #f7931e;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.3s ease-in-out;
    color: black;
}

.success-text{
    width: 500px;
    display: block;
}

.message-content-wrapper{
    margin-left: 150px;
    padding: 50px;
    margin-bottom: 500px;
}

.notfound-content-wrapper{
    display: block;
    left: 722px;
    position: relative;
    margin-top: 150px;
    padding: 50px;
    margin-bottom: 375px;
}


@media (max-width: 768px) {
    body{
        overflow-x: hidden;
        height: 100vh;
        width: 100vw;
    }

    .content-wrapper{
        height: 83.5vh;
    }

    .two-column-wrapper{
        zoom: 67%;
    }

    .profile-content-wrapper{
        padding-bottom: 64px;
    }
    .profile-image-wrapper img{
        display: none;
    }
    .about-paragraph, .faq-paragraph{
        width: 490px;
    }
    .signature{
        width: 490px;
    }

    .contact-content-wrapper{
        zoom: 80%;
        left: -80px;
        height: 104vh;
    }
    .contact-form-group button{
        width: 60%;
    }

    .message-content-wrapper{
        padding: 6px;
    }

    .text-wrapper{
        top: 128px;
    }

    .account-details{
        zoom: 155%;
        width: 5px;
        position: relative;
        display: contents;
        padding-bottom: 5px;
    }

    .account-content-wrapper{
        zoom: 120%;
    }

    .notfound-content-wrapper{
        left: 0;
        margin-bottom: 260px;
    }
}
